<div class="d-flex justify-content-between align-items-center mb-4">
  <h1 class="h2"><%= t(".title") %></h1>
  <%= link_to t("new"), new_account_candidate_path(@account), class: "btn btn-primary" %>
</div>

<div id="candidates">
  <div class="text-nowrap table-responsive">
    <table class="table table-hover table-fixed">
      <thead>
        <tr>
          <th scope="col"><%= Candidate.human_attribute_name(:name) %></th>
          <th scope="col"><%= Candidate.human_attribute_name(:gender) %></th>
          <th scope="col"><%= Candidate.human_attribute_name(:birth_date) %></th>
          <th scope="col"><%= Candidate.human_attribute_name(:email) %></th>
          <th scope="col"><%= Candidate.human_attribute_name(:phone_number) %></th>
          <th scope="col"><%= Candidate.human_attribute_name(:location) %></th>
          <th scope="col"><%= Candidate.human_attribute_name(:owner_id) %></th>
          <th scope="col"><%= Candidate.human_attribute_name(:source_type) %></th>
          <th scope="col"><%= Candidate.human_attribute_name(:is_employee) %></th>
        </tr>
      </thead>
      <tbody class="align-middle">
        <% @candidates.each do |candidate| %>
          <tr>
            <td>
              <%= image_tag image_path(candidate, size:40), height: 20, width: 20, class: "rounded" %>
              <span><%= link_to candidate.name, [@account, candidate], class: "btn btn-link fixed-link" %></span>
            </td>
            <td class="fixed-text"><%= candidate.gender %></td>
            <td class="fixed-text"><%= candidate.birth_date %></td>
            <td class="fixed-text"><%= candidate.email %></td>
            <td class="fixed-text"><%= candidate.phone_number %></td>
            <td class="fixed-text"><%= candidate.location %></td>
            <td>
              <%= image_tag image_path(candidate.owner, size:40), height: 20, width: 20, class: "rounded" %>
              <span><%= candidate.owner&.name %></span>
            </td>
            <td class="fixed-text"><%= candidate.source_type %></td>
            <td class="fixed-text"><%= candidate.is_employee %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>