<div class="row">
  <div class="col-lg-3 mb-4">
    <%= render partial: "shared/list" %>
  </div>
  <div class="col-lg-9">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1 class="h2"><%= t(".title") %></h1>
    </div>

    <%= form_with(model: [@account, @account_invitation]) do |form| %>
    <%= render "shared/error_messages", resource: @account_invitation %>

      <section>
        <div class="mb-3">
          <%= form.label :name, class: "form-label" %>
          <%= form.text_field :name, class: "form-control", required: true, placeholder: true %>
        </div>
      </section>

      <section>
        <h5 class="mb-2"><%= t("accounts.roles") %></h5>
        <div class="mt-3">
          <div class="flex flex-wrap items-center -m-3">
            <% AccountUser::ROLES.each do |role| %>
              <div class="m-3">
                <label for="<%= role.to_s.parameterize %>" class="flex items-center">
                  <%= form.check_box role, id: role.to_s.parameterize, class: "form-checkbox" %>
                  <span class="text-sm ml-2"><%= I18n.t("account_user_roles.#{role}") %></span>
                </label>
              </div>
            <% end %>
          </div>
        </div>
      </section>


      <div class="mb-3 d-grid gap-2 col-6 mx-auto">
        <%= form.submit t("update"), class: "btn btn-primary" %>
      </div>

      <div>
        <%= link_to t("back"), account_path(@account) %>
      </div>
    <% end %>
  </div>
</div>