<div class="row">
  <div class="col-lg-3 mb-4">
    <%= render partial: "shared/list" %>
  </div>
  <div class="col-lg-9">
    <h2><%= t('.title', resource: resource.model_name.human) %></h2>

<%= form_with(model: resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-3">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="mb-3 d-grid gap-2 col-6 mx-auto">
    <%= f.submit t('.update'), class: "btn btn-primary" %>
  </div>
<% end %>

<hr>

<h2><%= t('.cancel') %></h2>

<div class="mb-3 d-grid gap-2 col-6 mx-auto">
  <%= button_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: t("are_you_sure") }, method: :delete, class: "btn btn-outline-danger w-100" %>
</div>
