<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
  <div class="container mx-auto">
    <%= link_to root_path, class: "navbar-brand" do %>
      <span><%= Settings.application_name %></span>
      <span class="h6 text-decoration-underline"><%= truncate(current_account&.name) %></span>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <%= render "shared/header_left" %>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item"><%= link_to t(".announcements"), announcements_path, class: "nav-link #{unread_announcements(current_user)}" %></li>

        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to notifications_path, class: "nav-link" do %>
              <span><i class="bi bi-bell-fill"></i></span>
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <%= link_to "#", class: "nav-link dropdown-toggle", data: { bs_toggle: "dropdown" }, aria: { expanded: false } do %>
              <%= image_tag image_path(current_user, size:40), height: 20, width: 20, class: "rounded" %>
            <% end %>
            <ul class="dropdown-menu">
              <li class="nav-item"><%= link_to t(".profile"), edit_user_registration_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to t(".password"), edit_account_passwords_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to t(".accounts"), accounts_path, class: "nav-link" %></li>

              <%# Admin menu %>
              <% if current_user.admin? %>
                <div class="dropdown-divider"></div>
                <li class="nav-item"><%= link_to t(".admin"), admin_root_path, class: "nav-link", target: :_blank %></li>
              <% end %>

              <%# Developer menu %>
              <% if Rails.env.development? %>
                <div class="dropdown-divider"></div>
                <li class="nav-item"><%= link_to "Letter Opener", letter_opener_web_path, class: "nav-link", target: :_blank, data: { turbo: false } %></li>
              <% end %>
    
              <div class="dropdown-divider"></div>
              <li class="nav-item"><%= link_to t(".sign_out"), destroy_user_session_path, method: :delete, class: "nav-link" %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to t(".sign_in"), new_user_session_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to t(".public_job"), public_jobs_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to t(".sign_up"), new_user_registration_path, class: "btn btn-primary" %></li>
          
        <% end %>
      </ul>
    </div>
  </div>
</nav>