<div id="public_jobs">
  <div class="text-nowrap table-responsive">
    <table class="table table-hover table-fixed">
      <thead>
        <tr>
          <th scope="col"><%= Job.human_attribute_name(:account_id) %></th>
          <th scope="col"><%= Job.human_attribute_name(:position_name) %></th>
          <th scope="col"><%= Job.human_attribute_name(:department_id) %></th>
          <th scope="col"><%= Job.human_attribute_name(:contract) %></th>
          <th scope="col"><%= Job.human_attribute_name(:headcount) %></th>
          <th scope="col"><%= Job.human_attribute_name(:currency) %></th>
          <th scope="col"><%= Job.human_attribute_name(:salary_min) %></th>
          <th scope="col"><%= Job.human_attribute_name(:salary_max) %></th>
          <th scope="col"><%= Job.human_attribute_name(:frequency) %></th>
          <th scope="col"><%= Job.human_attribute_name(:location) %></th>
          <th scope="col"><%= Job.human_attribute_name(:is_remote) %></th>
        </tr>
      </thead>
      <tbody class="align-middle">
        <% public_jobs.each do |public_job| %>
          <tr>
            <td>
              <%= image_tag image_path(public_job.owner, size:40), height: 20, width: 20, class: "rounded me-2" %>
              <span><%= link_to public_job.account.name, "#", class: "btn btn-link fixed-link", title: public_job.account.name %></span>
            </td>
            <td class="fixed-text"><%= public_job.position_name %></td>
            <td class="fixed-text"><%= public_job.department.name %></td>
            <td class="fixed-text"><%= public_job.contract %></td>
            <td class="fixed-text"><%= public_job.headcount %></td>
            <td class="fixed-text"><%= public_job.currency %></td>
            <td class="fixed-text"><%= public_job.salary_min.to_fs(:delimited) %></td>
            <td class="fixed-text"><%= public_job.salary_max.to_fs(:delimited) %></td>
            <td class="fixed-text"><%= public_job.frequency %></td>
            <td class="fixed-text"><%= public_job.location %></td>
            <td class="fixed-text"><%= public_job.is_remote %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>