<div class="row">
  <div class="col-lg-3 mb-4">
    <%= render partial: "shared/list" %>
  </div>
  <div class="col-lg-9">
    <h2><%= t(".update_password") %></h2>


<%= form_with(model: current_user, url: passwords_path, html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: current_user %>

  <div class="mb-3">
    <%= f.label :current_password, class: "form-label" %>
    <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "現在のパスワード", class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :password, class: "form-label" %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード", class: "form-control" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation, class: "form-label" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード（確認用）", class: "form-control" %>
  </div>

  <div class="mb-3 d-grid gap-2 col-6 mx-auto">
    <%= f.submit t('.update'), class: "btn btn-primary" %>
  </div>
<% end %>