<div class="d-flex justify-content-between align-items-center mb-2">
  <h1 class="h2 text-success fw-semibold"><%= @job.position_name %></h1>
</div>
<div>
    <h1 class="h4"><%= @job.account.name %></h1>
</div>

<div class="row">
  <div class="col-lg-9">
    <div class="py-2">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-2">
              <strong><%= Job.human_attribute_name(:department_id) %></strong>
            </div>
            <div class="col-md-7">
              <%= @job.department.name %>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-2">
              <strong><%= Job.human_attribute_name(:owner_id) %></strong>
            </div>
            <div class="col-md-7">
              <div class="d-flex align-items-center">
                <%= image_tag image_path(@job.owner, size: 40), height: 20, width: 20, class: "rounded me-2" %>
                <span><%= @job.owner&.name %></span>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-2">
              <strong><%= Job.human_attribute_name(:visibility) %></strong>
            </div>
            <div class="col-md-7">
              <%= t("job_visibilities." + @job.visibility) %>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-2">
              <strong><%= Job.human_attribute_name(:contract) %></strong>
            </div>
            <div class="col-md-7">
              <% if @job.contract.present? %>
                <%= t("job_contracts." + @job.contract) %>
              <% end %>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-2">
              <strong><%= Job.human_attribute_name(:salary) %></strong>
            </div>
            <div class="col-md-7">              
              <%= @job.currency + @job.salary_to_text %>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-2">
              <strong><%= Job.human_attribute_name(:headcount) %></strong>
            </div>
            <div class="col-md-7">
              <%= @job.headcount %>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-2">
              <strong><%= Job.human_attribute_name(:location) %></strong>
            </div>
            <div class="col-md-7">
              <%= @job.location %>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-2">
              <strong><%= Job.human_attribute_name(:is_remote) %></strong>
            </div>
            <div class="col-md-7">
              <%= @job.is_remote ? "可" : "不可" %>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-2">
              <strong><%= Job.human_attribute_name(:description) %></strong>
            </div>
            <div class="col-md-10">
              <%= @job.description %>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="mb-2">
      <%= link_to t("back"), jobs_path%>
    </div>
  </div>
  <div class="col-lg-3 mt-2">
    <%= link_to t("応募する"), new_job_path(job_id: @job.id), class: "btn btn-success" %>
  </div>
</div>