<%= form_with(model: [@account, account_user]) do |form| %>
  <%= render "shared/error_messages", resource: account_user %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3 d-grid gap-2 col-6 mx-auto">
    <%= form.submit t("update"), class: "btn btn-primary" %>
  </div>
<% end %>
