<%= form_with(model: [@account, job_pipeline]) do |form| %>
  <%= render "shared/error_messages", resource: job_pipeline %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3 d-grid">
    <%= form.submit t("save"), class: "btn btn-primary" %>
  </div>
<% end %>
