<div class="row">
  <div class="col-lg-3 mb-4">
    <%= render partial: "shared/list" %>
  </div>
  <div class="col-lg-9">
    <div class="d-flex flex-wrap justify-content-between align-items-center mb-4">
      <%= tag.h1 truncate(@account.name), class: "h2", title: @account.name %>
      <div class="d-flex gap-2">
        <%= link_to t("edit"), edit_account_path(@account), class: "btn btn-primary" %>
        <%= button_to t("destroy"), @account, data: { turbo_confirm: t("are_you_sure") }, method: :delete, class: "btn btn-outline-danger" %>
      </div>
    </div>

    <div id="<%= dom_id @account %>">
      <div class="py-4">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">
                <strong><%= Account.human_attribute_name(:image) %></strong>
              </div>
              <div class="col-md-8">
                <%= image_tag image_path(@account), class: "rounded" %>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">
                <strong><%= Account.human_attribute_name(:name) %></strong>
              </div>
              <div class="col-md-8">
                <%= @account.name %>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">
                <strong><%= Account.human_attribute_name(:owner_id) %></strong>
              </div>
              <div class="col-md-8">
                <%= image_tag image_path(@account.owner, size:40), height: 20, width: 20, class: "rounded me-2" %>
                <span><%= @account.owner.name %></span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="mb-3 text-center">
      <% if current_account != @account %>
        <%= button_to t(".switch"), switch_account_path(@account), method: :patch, class: "btn btn-secondary" %>
      <% end %>
    </div>

    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1 class="h3"><%= t(".member") %></h1>
      <%= link_to t(".invitation"), new_account_account_invitation_path(@account), class: "btn btn-primary" %>
    </div>

    <table class="table table-borderless">
      <thead>
        <tr class>
            <th class="p-1" scope="col"><%= AccountUser.human_attribute_name(:user_id) %></th>
            <th class="p-1" scope="col"><%= AccountUser.human_attribute_name(:roles) %></th>
          </tr>
      </thead>

      <tbody>
        <% @account.account_users.each do |account_user| %>
          <% user = account_user.user %>
          <tr>
            <td>
              <%= image_tag image_path(user, size:40), height: 20, width: 20, class: "rounded me-2" %>
              <span><%= user.name %></span>
            </td>
            <td><%= account_user_roles(@account, account_user).join(", ") %></td>
          </tr>
        <% end %>
        
        <%# invitations %>
        <% @account.account_invitations.each do |account_invitation| %>
          <tr>
            <td class="d-flex">
              <%= image_tag image_path(account_invitation, size:40), height: 20, width: 20, class: "rounded me-2" %>
              <span class="px-1"><%= account_invitation.name %></span>
              <span class="badge text-bg-light">返信待ち</span>
            </td>
            <td><%= account_user_roles(@account, account_invitation).join(", ") %></td>
            <td>
              <% if account_admin?(@account, current_user) %>
                <div class="dropdown member-menu">
                  <button type="button" class="btn dropdown-toggle text-dark" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-three-dots"></i>
                  </button>
                  <ul class="dropdown-menu ">
                    <li class="dropdown-item">
                      <%= button_to t(".resend_invite"), resend_account_account_invitation_path(@account, account_invitation), class: "nav-link text-body-secondary" %>
                    </li>
                    <li class="dropdown-item">
                      <%= tag.button t(".copy_link"), data: { controller: "clipboard", clipboard_text: account_invitation_url(account_invitation)}, class: "nav-link text-body-secondary" %>
                    </li>
                    <li class="dropdown-item">
                      <%= link_to t(".edit"), edit_account_account_invitation_path(@account, account_invitation), class: "nav-link text-body-secondary" %>
                    </li>
                    <li class="dropdown-item">
                      <%= link_to t(".destroy"), account_account_invitation_path(@account, account_invitation), data: { turbo_method: :delete, turbo_confirm: t("are_you_sure") }, class: "nav-link text-danger" %>
                    </li>
                  </ul>
                </div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>