<div class="row">
  <div class="col-lg-3 mb-4">
    <%= render partial: "shared/list" %>
  </div>
  <div class="col-lg-9">
    <div class="d-flex flex-wrap justify-content-between align-items-center mb-4">
      <%= tag.h1 truncate(@account.name), class: "h2", title: @account.name %>
      <div class="d-flex gap-2">
        <%= link_to t("edit"), edit_account_path(@account), class: "btn btn-primary" %>
        <%= button_to t("destroy"), @account, data: { turbo_confirm: t("are_you_sure") }, method: :delete, class: "btn btn-outline-danger" %>
      </div>
    </div>

    <div id="<%= dom_id @account %>">
      <div class="py-4">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">
                <strong><%= Account.human_attribute_name(:image) %></strong>
              </div>
              <div class="col-md-8">
                <%= image_tag image_path(@account), class: "rounded" %>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">
                <strong><%= Account.human_attribute_name(:name) %></strong>
              </div>
              <div class="col-md-8">
                <%= @account.name %>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">
                <strong><%= Account.human_attribute_name(:owner_id) %></strong>
              </div>
              <div class="col-md-8">
                <%= image_tag image_path(@account.owner, size:40), height: 20, width: 20, class: "rounded me-2" %>
                <span><%= @account.owner.name %></span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="mb-3 text-center">
      <% if current_account != @account %>
        <%= button_to t(".switch"), switch_account_path(@account), method: :patch, class: "btn btn-secondary" %>
      <% end %>
    </div>

    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1 class="h3"><%= t(".member") %></h1>
      <%= link_to t(".invitation"), new_account_account_invitation_path(@account), class: "btn btn-primary" %>
    </div>

    <div id="account_users">
      <div class="text_nowrap table-responsive">
        <table class="table table-hover table-fixed">
          <thead>
            <tr>
              <th scope="col"><%= AccountUser.human_attribute_name(:user_id) %></th>
              <th scope="col"><%= AccountUser.human_attribute_name(:roles) %></th>
            </tr>
          </thead>
          <tbody class="align-middle">
            <% @account.account_users.each do |account_user| %>
              <% user = account_user.user %>
              <tr>
                <td>
                  <%= image_tag image_path(user, size:40), height: 20, width: 20, class: "rounded me-2" %>
                  <span><%= user.name %></span>
                </td>
                <td><%= account_user_roles(@account, account_user).join(", ") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>